<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('C:/Users/neilinn/OneDrive - Tartu Ülikool/Dokumendid/3_Semester_2021/web_application_dev_2021/praktikum11/partials/navbar.ejs') %>
        <h1 style="color: darkslateblue;">
            Home
        </h1>
        <img src="/emoji.jpg" alt="emoji" width="100px">
        <%- include('C:/Users/neilinn/OneDrive - Tartu Ülikool/Dokumendid/3_Semester_2021/web_application_dev_2021/praktikum11/partials/footer.ejs') %>
</body>

</html>